@using Kutuphane.Models.Entity
@model List<TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>

    </tr>

    @foreach (var ktg in Model)
    {
<tr>
    <td>@ktg.ID</td>
    <td>@ktg.ADI</td>
    <td><a href="/Kategori/KategoriSil/@ktg.ID" class="btn btn-danger">Sil</a> </td>
</tr>

    }
</table>

<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>