@model Kutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

 <form style="margin-top:15px" class=" form-group" method="post">
     <div>
         <label> Kategori Adı</label>
         <input type="text" class="form-control" name="ADI" />
     </div>
     <div style="margin-top:15px">
         <button class="btn btn-info" id="Btn1" > Kategori Ekle </button>
     </div>
 </form>

